body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 18px;
	letter-spacing: 0.005em;
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #F8F8F8;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header .brand {
	font-size: 19px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
	font-size: 12px;
	color : #5b6162;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

td, th {
	border: 1px solid #ccc; padding: 5px;
}

li {
	line-height: 1.5;
}

h1, h2, h3 {
	margin-top: 20px;
}

h4 small {
	font-size: 14px;
	color: #5d6a6f;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote, q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a img {
	border: 0;
}

a, input {
	outline: none;
}

a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #06C;
}

a:hover {
	text-decoration: none;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	display: block;
}

figure {
	margin: 0;
}

.api-params th {
	white-space: nowrap;
}

.api-params td {
	padding: 1em 5px;
	vertical-align: top;
}

.api-deprecated {
	text-decoration: line-through;
}

.api-required {
	font-size: 0.7em;
	font-style: italic;
	margin: 0;
}

.api-default {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0;
}